@layer components {
	.preview {
		@apply relative my-3 w-[790px] rounded-md border border-[var(--divider-color)] border-opacity-10 bg-[var(--grid-item-background-color)] px-6 py-5 text-[var(--text-default-color)] lg:z-30 lg:-mt-11 lg:ml-36;
	}

	.preview > div:not(:last-child) {
		@apply mb-3 whitespace-nowrap;
	}

	.preview-input-group {
		@apply inline-block whitespace-nowrap;
	}

	.preview-input-group > label {
		@apply inline-block w-[60px] text-sm;
	}

	.preview-input-group > input {
		@apply rounded-md border border-[rgb(64,64,64)] bg-[var(--grid-item-background-color)] px-2 py-[6px] text-sm text-[var(--text-default-color)];
	}

	.preview-input-group > input.invalid {
		@apply border-[rgb(180,0,0)];
	}

	.preview-input-group > input.warn {
		@apply border-[rgba(180,150,0,.7)];
	}

	.preview-figure {
		@apply mt-1 rounded-xl;
	}

	.preview-figure,
	.preview-figure text {
		@apply font-sans;
	}

	.preview-figure canvas {
		@apply absolute left-[33px] top-[127px] opacity-0;
	}

	.preview-buttons {
		@apply flex w-full flex-row content-between border-t border-t-[var(--divider-color)] pt-5;
	}

	.preview-buttons div:nth-child(1) {
		@apply flex-1;
	}

	.preview-buttons div:nth-child(2) {
		@apply flex flex-1 flex-row-reverse;
	}

	.preview-buttons button {
		@apply mx-1;
	}

	.preview-brand-suggestions {
		@apply scroll-bar absolute z-40 ml-[60px] mt-2 max-h-[312px] overflow-hidden rounded-bl-md rounded-br-md rounded-tr-[5px] border border-[var(--divider-color)];
	}

	.preview-brand-suggestions li {
		@apply flex cursor-pointer items-center bg-[var(--button-background-default-color)] px-3.5 py-3 text-[var(--button-content-default-color)] hover:bg-[var(--button-background-hover-color)] hover:text-custom-button-content-hover-color;
	}

	.preview-brand-suggestions li img {
		@apply mr-3 inline-block h-[21px] w-[21px] invert-0 dark:invert;
	}

	.preview-brand-suggestions li span {
		@apply text-sm;
	}

	.preview-brand-suggestions li:hover img {
		@apply invert dark:invert-0;
	}

	.preview-brand-suggestions .more-suggestions {
		@apply border-t border-t-[var(--divider-color)] p-[3px];
	}

	.preview-brand-suggestions .more-suggestions span {
		@apply pointer-events-none w-full text-center text-lg text-[var(--button-content-default-color)];
	}

	.preview-brand-suggestions .more-suggestions:hover span {
		@apply text-[var(--button-content-hover-color)];
	}

	.preview-path-lint-errors {
		@apply scroll-bar absolute z-40 ml-[60px] mt-2 box-border flex max-h-[319px] max-w-[682px] flex-col overflow-y-auto rounded-bl-md rounded-br-md rounded-tr-[4px] border border-[var(--divider-color)] bg-[#cbc407] text-xs text-[#333];
	}

	.preview-path-lint-errors li {
		@apply flex flex-row px-3 py-2;
	}

	.preview-path-lint-errors li:not(:first-child) {
		@apply flex flex-row border-t border-[rgba(0,0,0,.1)] px-3 py-2;
	}

	.preview-path-lint-errors li > :first-child {
		@apply mr-[14px] flex leading-5;
	}

	.preview-path-lint-errors li > :last-child {
		@apply relative float-right mr-1 flex select-none flex-row;
	}

	.preview-path-lint-errors li > :last-child button {
		@apply w-fit rounded-sm bg-[#333] px-1.5 py-0.5 text-xs text-[#eee] hover:bg-[#eee] hover:text-[#333] focus:bg-[#333] focus:text-[#eee] focus:hover:bg-[#eee] focus:hover:text-[#333];
	}

	.preview-path-lint-errors li > :last-child button:not(:first-child) {
		@apply relative left-1;
	}
}
