/**
 * TODO: when a link element is active (`a:active`), the `fill`
 * property is not applied on the parent. This is something that
 * maybe could be fixed with the `:has` selector but Firefox does
 * not support it yet. We will need to use a weird code solution
 * to fix this, but currently is not a priority.
 **/
header > nav > ul > li {
	@apply h-14 w-14 cursor-pointer rounded-md fill-custom-button-content-default-color p-2 hover:bg-custom-button-background-hover-color hover:fill-custom-button-content-hover-color hover:text-custom-button-content-hover-color md:p-[10px];
}
