@layer components {
	.language-selector {
		@apply grid grid-cols-1 xs:grid-cols-2 space-y-1 w-full
      uppercase;
	}

	.language-selector > li {
		@apply cursor-pointer w-full p-2 text-center rounded
      text-custom-button-content-default-color
      bg-custom-button-background-default-color
      hover:bg-custom-button-background-hover-color
      hover:text-custom-button-content-hover-color;
	}
}
