@import './button.css';
@import './menu.css';
@import './language_selector.css';
@import './third_party_extensions.css';

header > nav {
	@apply flex w-full flex-row justify-end gap-4 lg:w-auto;
}

header > nav > div {
	@apply flex flex-col gap-3;
}

header > nav > div > ul {
	@apply flex flex-row justify-end gap-1;
}

header > nav > div > ul:first-child {
	@apply gap-2.5;
}

header > nav > div > ul:first-child > li,
header > nav > div > ul:first-child > a {
	@apply rounded-full px-3;
}

header > nav > ul {
	@apply flex justify-end;
}
