root=true

[*]
charset=utf-8
insert_final_newline=true
indent_style = tab

[license.txt]
indent_size = unset
indent_style = space

[*.rs]
indent_size = 4
indent_style = space

[*.yml]
indent_size = 2
indent_style = space
