root=true

[*]
charset=utf-8
insert_final_newline=true

[license.txt]
indent_size = unset
indent_style = space

[*.{json,json5,yml,js,html}]
indent_size = 2
indent_style = space

[*.rs]
indent_size = 4
indent_style = space
