/target/
pkg
app/dist/
/dist/
playwright-report/
assets/dist/stylesheet.css
**/*.rs.bk
node_modules/
test-results/
end2end/playwright-report/
playwright/.cache/
.env
app/public/assets/sitemap.xml
app/public/assets/CNAME
app/public/assets/dist/**
!app/public/assets/dist/.keep
