/target/
pkg
package-lock.json
Cargo.lock
app/dist/
/dist/
playwright-report/
assets/dist/stylesheet.css
**/*.rs.bk
node_modules/
test-results/
end2end/playwright-report/
playwright/.cache/
*.pot
.env
app/assets/dist/**
!app/assets/dist/.keep
