[env]
RUSTFLAGS = "-Dwarnings"
BUILD_TIMESTAMP = { script = ["date +%s"] }

[config]
init_task = "init"
default_to_workspace = false

[tasks.init]
description = "Initialization task run before all others"
run_task = { name = ["fnm_use", "npm_install"] }

[tasks.fnm_use]
description = "Run 'fnm use'"
condition.env_not_set = ["CI"]
install_crate = { crate_name = "fnm", binary = "fnm", test_arg = "--help" }
command = "fnm"
args = ["use", "--install-if-missing", "--silent-if-unchanged"]

[tasks.npm_install]
description = "Run 'npm install'"
condition_script = ["which npm"]
condition.files_modified = { input = [
	"./package.json",
], output = [
	"./package-lock.json",
] }
condition.env_not_set = ["CI"]
command = "npm"
args = ["install"]

[tasks.default]
alias = "serve"

[tasks.run-serve]
description = "Serve the app with npx serve"
command = "npx"
args = ["serve", "--no-clipboard", "-l", "8000"]
cwd = "./app/dist"

[tasks.serve]
description = "Build and serve"
run_task = { name = ["build", "run-serve"] }

[tasks.watch-css]
description = "Build CSS with PostCSS on development"
command = "npx"
args = [
	"postcss",
	"./stylesheet.css",
	"--output",
	"./public/assets/stylesheet.css",
	"--watch",
]
cwd = "./app"

[tasks.format]
clear = true
description = "Format files"
run_task = { name = ["xo-fix", "format-rust", "prettier-write"] }

[tasks.lint]
description = "Check format of files and run linters"
run_task = { name = ["xo", "lint-rust", "lint-css", "prettier-check"] }

[tasks.build]
clear = true
description = "Build the app for production"
run_task = { name = [
	"run-pre-build-scripts",
	"build-css",
	"build-website",
	"move-website-assets",
	"minify-wasm-js-bindings",
	"minify-html",
] }

[tasks.build-css]
description = "Build CSS with PostCSS for production"
env = { "NODE_ENV" = "production" }
command = "npx"
args = [
	"postcss",
	"./stylesheet.css",
	"--output",
	"./public/assets/stylesheet.css",
]
cwd = "./app"

[tasks.build-wasm]
description = "Build the WASM app for production"
install_crate = { crate_name = "wasm-pack", binary = "wasm-pack", test_arg = "--help" }
command = "wasm-pack"
args = [
	"build",
	".",
	"--no-pack",
	"--no-typescript",
	"--release",
	"--target",
	"web",
	"-d",
	"./dist/",
	"--out-name",
	"simple-icons-website-app",
]
cwd = "./app"

[tasks.build-website]
description = "Build the apps WASM bundles and HTML files"
install_crate = { crate_name = "wasm-pack", binary = "wasm-pack", test_arg = "--help", force = false }
script_runner = "@duckscript"
script = '''
build_timestamp = get_env BUILD_TIMESTAMP
APPS = get_env APPS
if is_empty ${APPS}
  APPS = set "index,deprecations,preview,404"
end

wasm_pack_build_env = set "--dev"
build_timestamp = get_env BUILD_TIMESTAMP
if get_env RELEASE == "true"
  wasm_pack_build_env = set "--release"
  rm -r ./app/dist/
  mkdir ./app/dist/
end

# template
template = readfile app/index.template.html
template = replace ${template} "{{build_timestamp}}" ${build_timestamp}
js_libs = readfile app/public/js-libs.html
template = replace ${template} "{{js_libs}}" "${js_libs}"
template = replace ${template} "{{stylesheet}}" "/stylesheet-${build_timestamp}.css"

# index.html
index = replace ${template} "{{initial_title}}" "Simple Icons"
index = replace ${index} "{{out_name}}" "simple-icons-website"
writefile app/index.dist.html ${index}

# deprecations/index.html
index = replace ${template} "{{initial_title}}" "Simple Icons | Deprecations"
index = replace ${index} "{{out_name}}" "simple-icons-website-deprecations"
writefile app/public/deprecations/index.dist.html ${index}

# preview/index.html
index = replace ${template} "{{initial_title}}" "Simple Icons | Preview Generator"
index = replace ${index} "{{out_name}}" "simple-icons-website-preview"
writefile app/public/preview/index.dist.html ${index}

# 404/index.html
index = replace ${template} "{{initial_title}}" "Simple Icons | 404 Not Found"
index = replace ${index} "{{out_name}}" "simple-icons-website-404"
writefile app/public/404/index.dist.html ${index}

cd ./app

# Index page
estimated_wasm_size = set 0
if contains ${APPS} "index"
  exec wasm-pack build . --no-pack --no-typescript ${wasm_pack_build_env} --target web -d ./dist/ --out-name simple-icons-website-${build_timestamp}
  estimated_wasm_size = get_file_size ./dist/simple-icons-website-${build_timestamp}_bg.wasm
end
index = readfile ./index.dist.html
index = replace ${index} "{{estimated_wasm_size}}" ${estimated_wasm_size}
writefile ./index.dist.html ${index}

# Deprecations page
estimated_wasm_size = set 0
mkdir ./dist/deprecations/
if contains ${APPS} "deprecations"
  exec wasm-pack build pages/deprecations --no-pack --no-typescript ${wasm_pack_build_env} --target web -d ../../dist/ --out-name simple-icons-website-deprecations-${build_timestamp}
  estimated_wasm_size = get_file_size ./dist/simple-icons-website-deprecations-${build_timestamp}_bg.wasm
end
deprecations_index = readfile ./public/deprecations/index.dist.html
deprecations_index = replace ${deprecations_index} "{{estimated_wasm_size}}" ${estimated_wasm_size}
writefile ./public/deprecations/index.dist.html ${deprecations_index}

# Preview generator page
estimated_wasm_size = set 0
mkdir ./dist/preview/
if contains ${APPS} "preview"
  exec wasm-pack build pages/preview --no-pack --no-typescript ${wasm_pack_build_env} --target web -d ../../dist/ --out-name simple-icons-website-preview-${build_timestamp}
  estimated_wasm_size = get_file_size ./dist/simple-icons-website-preview-${build_timestamp}_bg.wasm
end
preview_index = readfile ./public/preview/index.dist.html
preview_index = replace ${preview_index} "{{estimated_wasm_size}}" ${estimated_wasm_size}
writefile ./public/preview/index.dist.html ${preview_index}

# 404 page
estimated_wasm_size = set 0
mkdir ./dist/404/
if contains ${APPS} "404"
  exec wasm-pack build pages/404 --no-pack --no-typescript ${wasm_pack_build_env} --target web -d ../../dist/ --out-name simple-icons-website-404-${build_timestamp}
  estimated_wasm_size = get_file_size ./dist/simple-icons-website-404-${build_timestamp}_bg.wasm
end
not_found_index = readfile ./public/404/index.dist.html
not_found_index = replace ${not_found_index} "{{estimated_wasm_size}}" ${estimated_wasm_size}
writefile ./public/404/index.dist.html ${not_found_index}
'''

[tasks.move-website-assets]
description = "Move website assets to the dist folder"
script_runner = "@duckscript"
script = '''
build_timestamp = get_env BUILD_TIMESTAMP

# Stylesheet
cp ./app/public/assets/stylesheet.css ./app/dist/stylesheet-${build_timestamp}.css

# index.html
cp ./app/index.dist.html ./app/dist/index.html

# deprecations/index.html
cp ./app/public/deprecations/index.dist.html ./app/dist/deprecations/index.html
#   deprecations.html
cp ./app/public/deprecations.html ./app/dist/deprecations.html

# preview/index.html
cp ./app/public/preview/index.dist.html ./app/dist/preview/index.html
#   preview.html
cp ./app/public/preview.html ./app/dist/preview.html

# 404/index.html
cp ./app/public/404/index.dist.html ./app/dist/404/index.html
#   404.html
cp ./app/public/404.html ./app/dist/404.html

# CNAME
cp ./app/public/assets/CNAME ./app/dist/CNAME
# Sitemap
cp ./app/public/assets/sitemap.xml ./app/dist/sitemap.xml
# Stats
cp ./app/public/assets/stats.json ./app/dist/stats.json
# Favicon
cp ./app/public/assets/favicon.ico ./app/dist/favicon.ico
cp ./app/public/assets/favicon.png ./app/dist/favicon.png
cp ./app/public/assets/logo.svg ./app/dist/logo.svg
cp ./app/public/assets/og.png ./app/dist/og.png
cp ./app/public/assets/apple-touch-icon.png ./app/dist/apple-touch-icon.png
# License
cp ./license.txt ./app/dist/license.txt
# Simple Icons
exec cp -r ./node_modules/simple-icons/icons ./app/dist/icons
# Utility icons
cp ./app/public/assets/copy.svg ./app/dist/copy.svg
cp ./app/public/assets/copy-white.svg ./app/dist/copy-white.svg
cp ./app/public/assets/check.svg ./app/dist/check.svg
cp ./app/public/assets/check-white.svg ./app/dist/check-white.svg
cp ./app/public/assets/external-link.svg ./app/dist/external-link.svg
cp ./app/public/assets/external-link-white.svg ./app/dist/external-link-white.svg
cp ./app/public/assets/legal.svg ./app/dist/legal.svg
cp ./app/public/assets/legal-white.svg ./app/dist/legal-white.svg
# JS Libraries
exec cp -r ./app/public/assets/js ./app/dist/js
# Fonts
mkdir ./app/dist/fonts/
glob_cp node_modules/@fontsource/roboto-mono/files/* ./app/dist/fonts/
glob_cp node_modules/@fontsource/open-sans/files/* ./app/dist/fonts/
'''

[tasks.minify-wasm-js-bindings]
description = "Minify the WASM JS bindings"
condition = { env_true = ["RELEASE"] }
script_runner = "@duckscript"
script = '''
files = glob_array ./app/dist/*.js
for file in ${files}
    exec npx terser ${file} --compress --mangle --output ${file}
end
'''

[tasks.minify-html]
description = "Minify the HTML files"
condition = { env_true = ["RELEASE"] }
install_crate = { crate_name = "minhtml", binary = "minhtml", test_arg = "--help" }
script_runner = "@duckscript"
script = '''
files = glob_array ./app/dist/**/*.html
for file in ${files}
	exec minhtml --minify-css --minify-js --keep-closing-tags --output ${file} ${file}
end
'''

[tasks.lint-rust]
description = "Lint Rust code"
run_task = { name = ["clippy", "leptosfmt-check", "cargo-machete"] }

[tasks.clippy]
description = "Run clippy"
install_crate = "clippy"
command = "cargo"
args = ["clippy", "--no-deps"]

[tasks.dylint]
description = "Run dylint"
install_crate = "cargo-dylint"
command = "cargo"
args = ["dylint", "--all"]

[tasks.leptosfmt-check]
description = "Check Leptos code format with leptosfmt"
dependencies = ["install-leptosfmt"]
command = "leptosfmt"
args = ["--check", "--quiet", "**/src/**/*.rs"]

[tasks.cargo-machete]
description = "Check for outdated dependencies"
install_crate = "cargo-machete"
command = "cargo"
args = ["machete"]

[tasks.xo]
description = "Lint JS/TS and files affected by Prettier with XO"
command = "npx"
args = ["xo"]

[tasks.lint-css]
description = "Lint CSS with stylelint"
command = "npx"
args = [
	"stylelint",
	"{components,app}/**/*.css",
	"--ignore-path",
	".prettierignore",
	"--config",
	"./.stylelintrc.json",
]

[tasks.prettier-check]
description = "Lint files in the project with Prettier"
command = "npx"
args = ["prettier", "--check", ".", "--log-level", "warn"]

[tasks.cargo-fmt]
description = "Format Rust code with cargo fmt"
install_crate = "cargo-fmt"
command = "cargo"
args = ["fmt", "--all", "--quiet"]

[tasks.leptosfmt]
description = "Format leptos view! macros"
dependencies = ["install-leptosfmt"]
command = "leptosfmt"
args = ["--quiet", "**/src/**/*.rs"]

[tasks.format-rust]
description = "Format Rust code"
run_task = { name = ["cargo-fmt", "leptosfmt"] }

[tasks.prettier-write]
description = "Format files in the project with Prettier"
command = "npx"
args = ["prettier", "--write", ".", "--log-level", "warn"]

[tasks.xo-fix]
description = "Format JS/TS and files affected by Prettier with XO"
command = "npx"
args = ["xo", "--fix"]

[tasks.build-js-libs]
description = "Build JS libraries for the web"
run_task = { name = [
	"build-with-esbuild",
	"build-pdfkit",
	"build-blob-stream",
], parallel = true }

[tasks.build-with-esbuild]
description = "Build libraries built with esbuild"
script_runner = "@duckscript"
script = '''
rm -r ./app/public/assets/js
mkdir ./app/public/assets/js
jslibs = set ./app/public/js-libs.html
writefile ${jslibs} ""

# fast-fuzzy
packagejson = readfile node_modules/fast-fuzzy/package.json
fast_fuzzy = json_parse ${packagejson}
exec npx esbuild ./libs/fast-fuzzy/src/fast-fuzzy.js --bundle --outfile=./app/public/assets/js/fast-fuzzy-${fast_fuzzy.version}.js --minify --log-level=error
appendfile ${jslibs} "<script type=\"module\" src=\"/js/fast-fuzzy-${fast_fuzzy.version}.js\" defer></script>"

# svg-path-bbox
packagejson = readfile node_modules/svg-path-bbox/package.json
svg_path_bbox = json_parse ${packagejson}
exec npx esbuild ./libs/svg-path-bbox/src/svg-path-bbox.js --bundle --outfile=./app/public/assets/js/svg-path-bbox-${svg_path_bbox.version}.js --minify --log-level=error

# badge-maker
packagejson = readfile node_modules/badge-maker/package.json
badge_maker = json_parse ${packagejson}
exec npx esbuild ./libs/badge-maker/src/bindings.js --bundle --outfile=./app/public/assets/js/badge-maker-${badge_maker.version}.js --minify --log-level=error
'''

[tasks.build-pdfkit]
description = "Build pdfkit"
script_runner = "@duckscript"
script = '''
# pdfkit
packagejson = readfile node_modules/pdfkit/package.json
pdfkit = json_parse ${packagejson}
exec npx terser --compress --mangle --output ./app/public/assets/js/pdfkit-${pdfkit.version}.js ./node_modules/pdfkit/js/pdfkit.standalone.js
'''

[tasks.build-blob-stream]
description = "Build blob-stream"
script_runner = "@duckscript"
script = '''
# blob-stream
packagejson = readfile node_modules/blob-stream/package.json
blob_stream = json_parse ${packagejson}
exec npx terser --compress --mangle --output ./app/public/assets/js/blob-stream-${blob_stream.version}.js ./node_modules/blob-stream/.js
'''

[tasks.fetch-deprecated-icons]
description = "Fetch deprecated icons from simple-icons repository"
command = "npx"
args = ["tsx", "scripts/fetch-deprecated-icons.ts"]

[tasks.create-sitemap]
description = "Create sitemap.xml asset"
command = "npx"
args = ["tsx", "scripts/create-sitemap.ts"]

[tasks.create-stats]
description = "Create statistics asset"
command = "npx"
args = ["tsx", "scripts/create-stats.ts"]

[tasks.run-pre-build-scripts]
description = "Run pre-build scripts"
run_task = { name = [
	"fetch-deprecated-icons",
	"run-parallel-pre-build-scripts",
], parallel = false }

[tasks.run-parallel-pre-build-scripts]
description = "Run parallel pre-build scripts"
run_task = { name = [
	"build-js-libs",
	"create-sitemap",
	"create-stats",
], parallel = true }

[tasks.install-leptosfmt]
# Using the latest version of leptosfmt from GitHub, because released versions
# don't include support for passing arguments to `rustfmt`, which is needed to
# format files with Rust features like async functions.
description = "Install leptosfmt from Git if not already installed"
script_runner = "bash"
script = '''
which leptosfmt > /dev/null || cargo install --git https://github.com/bram209/leptosfmt
'''

[tasks.e2e-chrome]
description = "Run end-to-end tests with Chrome"
env = { "BROWSER" = "chrome" }
command = "cargo"
args = [
	"test",
	"--package",
	"end2end",
	"--test",
	"desktop",
	"--",
	"--fail-fast",
]

[tasks.e2e-firefox]
description = "Run end-to-end tests with Firefox"
env = { "BROWSER" = "firefox" }
command = "cargo"
args = [
	"test",
	"--package",
	"end2end",
	"--test",
	"desktop",
	"--",
	"--fail-fast",
	"--concurrency=1",
]
