@layer components {
  .button {
    @apply py-2 px-3 rounded text-sm
      text-custom-button-content-default-color
      hover:text-custom-button-content-hover-color
      focus:text-custom-button-content-default-color
      bg-custom-button-background-default-color
      hover:bg-custom-button-background-hover-color
      focus:bg-custom-button-background-default-color
      shadow-[0_0_3px_0_var(--shadows-color)]
      uppercase font-bold;
  }

  .button svg {
    @apply inline-block
      fill-custom-button-content-default-color mr-1.5;
  }

  .button:hover svg {
    @apply fill-custom-button-content-hover-color;
  }

  .button:focus svg {
    @apply fill-custom-button-content-default-color;
  }
}
