@layer components {
  /* Modal shadow */
  .modal-shadow {
    @apply fixed top-0 left-0 w-full h-full z-40 bg-[rgba(0,0,0,.7)];
  }

  /* Modal */
  .modal {
    @apply relative z-50 flex flex-col self-center justify-center m-auto
      mt-0 md:mt-10 rounded
      max-w-full md:max-w-[80%] lg:max-w-[50%] max-h-full
      bg-custom-background-color shadow-[0_0_3px_0_var(--shadows-color)];
  }

  /* Modal header */
  .modal > :first-child {
    @apply flex flex-row w-full px-5 py-3;
    border-bottom: 1px solid var(--divider-color);
  }

  .modal > :first-child > h2 {
    @apply flex-grow text-base xs:text-lg;
  }

  .modal > :first-child > button {
    @apply w-[1.3rem] h-[1.3rem] self-center 
      fill-custom-text-default-color
      hover:opacity-80;
  }

  /* Modal body */
  .modal > :last-child {
    @apply w-full px-1 xs:px-4 py-4 overflow-auto;
  }
}
