@layer components {
	.icons-loader {
		@apply flex flex-row justify-center page-margin-x;
	}

	.icons-loader:not(.hidden) {
		@apply pt-4;
	}

	/* Button to load more icons manually */
	.icons-loader > button {
		@apply button;
	}
}
