@import './button.css';
@import './search/mod.css';

/* Controls group */
menu {
  @apply box-content flex flex-row
    pt-1.5 sm:pt-0 pb-1.5 h-7 xs:h-9 sm:h-16
    sticky sm:-top-[1.4rem] z-20
    bg-custom-background-color;
}

menu .controls-group {
  @apply flex-row space-x-1 xs:space-x-4;
}

/* Each control */
menu .control {
  @apply flex flex-col h-auto;
}

/* Labels */
menu .control > label {
  @apply h-4 leading-4 mb-3 hidden sm:block;
}
