.icon-details-modal {
	@apply flex flex-col;
}

.icon-details-modal > :first-child {
	@apply flex flex-row flex-grow;
}

/* Icon preview */
.icon-details-modal > :first-child > button {
	@apply w-1/2 copy-button-color-scheme
    before:bg-[size:2.5rem];
}

.icon-details-modal > :first-child > button > img {
	@apply p-10 dark:invert;
}

/* Icon information */
.icon-details-modal > :first-child > :last-child {
	@apply flex flex-col w-1/2 space-y-3;
}

/*   Icon slug */
.icon-details-modal > :first-child > :last-child > :first-child {
	@apply copy-button-color-scheme before:[background-position-x:95%] pr-12;
}

/*   Copy hex color button */
.icon-details-modal > :first-child > :last-child > :nth-child(2) {
	@apply w-20 py-0.5 before:-mt-0.5 rounded
    hover:!text-transparent focus:!text-transparent
    before:bg-[size:1.2rem] before:bg-center;
}

/*   Information links */
.icon-details-modal > :first-child > :last-child > a {
	@apply pt-7 hover:opacity-70;
}

/*   Deprecation information */
.icon-details-modal > :first-child > :last-child > p {
	@apply text-xs relative top-4 bg-warning-icon bg-left-top pl-5;
}

.icon-details-modal > :first-child > :last-child > p > a {
	@apply text-link;
}
