.icon-details-modal {
	@apply flex flex-col;
}

.icon-details-modal > :first-child {
	@apply flex flex-grow flex-row;
}

/* Icon preview */
.icon-details-modal > :first-child > button {
	@apply copy-button-color-scheme w-1/2 before:bg-[size:2.5rem];
}

.icon-details-modal > :first-child > button > img {
	@apply p-10 dark:invert;
}

/* Icon information */
.icon-details-modal > :first-child > :last-child {
	@apply flex w-1/2 flex-col space-y-3;
}

/*   Icon slug */
.icon-details-modal > :first-child > :last-child > :first-child {
	@apply copy-button-color-scheme before:[background-position-x:95%];
}

:dir(ltr) .icon-details-modal > :first-child > :last-child > :first-child {
	@apply pr-12;
}

/*   Copy hex color button */
.icon-details-modal > :first-child > :last-child > :nth-child(2) {
	@apply w-20 rounded py-0.5 before:-mt-0.5 before:bg-[size:1.2rem] before:bg-center hover:!text-transparent focus:!text-transparent;
}

/*   Information links */
.icon-details-modal > :first-child > :last-child > a {
	@apply pt-7 hover:opacity-70;
}

/*   Deprecation information */
.icon-details-modal > :first-child > :last-child > p {
	@apply bg-warning-icon relative top-4 bg-left-top pl-5 text-xs;
}

.icon-details-modal > :first-child > :last-child > p > a {
	@apply text-link;
}
