@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Custom components */
@import './../components/src/mod.css';

:root {
  --dark-contrast-color: rgb(34 34 34);
  --light-contrast-color: rgb(238 238 238);
  --margin-x: 1rem;
  --margin-x-sm: 1.5rem;
  --margin-x-md: 3rem;
}

/* Dark color scheme */
body.dark {
  /* Color of the background of the site */
  --background-color: rgb(34 34 34);

  /* Color of the text by default */
  --text-default-color: rgb(236 236 236);

  /* Color of divider lines */
  --divider-color: rgb(64 64 64);

  /* Color of the buttons content by default */
  --button-content-default-color: rgb(212 212 212);

  /* Color of the buttons content on hover */
  --button-content-hover-color: rgb(34 34 34);

  /* Color of the buttons content when there are selected */
  --button-content-selected-color: rgb(34 34 34);

  /* Color of the buttons background when there are selected */
  --button-background-selected-color: rgb(212 212 212);

  /* Color of the buttons background when there are not selected */
  --button-background-default-color: rgb(34 34 34);

  /* Color of the buttons background on hover */
  --button-background-hover-color: rgb(212 212 212);

  /* Color of shadows */
  --shadows-color: rgba(212 212 212 70%);

  /* Color of transparent background for some elements, like copy buttons in icon previews */
  --transparent-element-background-color: rgba(34 34 34 60%);

  /* Color of links */
  --link-color: rgb(236 236 236);

  /* Color of on hover */
  --link-color-hover: rgb(212 212 212);
}

/* Light color scheme */
body.light {
  --background-color: rgb(252 252 252);
  --text-default-color: rgb(0 0 0);
  --divider-color: rgb(204 204 204);
  --button-content-default-color: rgb(51 51 51);
  --button-content-hover-color: rgb(252 252 252);
  --button-content-selected-color: rgb(252 252 252);
  --button-background-selected-color: rgb(51 51 51);
  --button-background-hover-color: rgb(51 51 51);
  --shadows-color: rgba(0 0 0 50%);
  --transparent-element-background-color: rgba(255 255 255 70%);
  --link-color: rgb(0 0 0);
  --link-color-hover: rgb(51 51 51);
}

/* Global components */
@layer components {
  /* Margin X of the page */
  .page-margin-x {
    @apply mx-[var(--margin-x)]
      sm:mx-[var(--margin-x-sm)]
      md:mx-[var(--margin-x-md)];
  }

  /**
   * Padding X of the page.
   *
   * Useful for components that should render their background in top of others,
   * like the controls one.
   **/
  .page-padding-x {
    @apply px-[var(--margin-x)]
      sm:px-[var(--margin-x-sm)]
      md:px-[var(--margin-x-md)];
  }
}

/* Global resets */
@layer base {
  * {
    margin: 0;
    padding: 0;
  }

  *:focus {
    @apply outline-none;
  }

  body {
    @apply font-mono flex flex-col min-h-[100vh]
      bg-custom-background-color
      text-custom-text-default-color;
  }
}

main > menu {
  @apply page-padding-x;
}
