@import './button.css';
@import './search/mod.css';

/* Controls group */
menu {
	@apply page-padding-x sticky z-20 box-content flex h-7 flex-row bg-custom-background-color pb-1.5 pt-1.5 sm:-top-[1.4rem] sm:h-16 sm:pt-0;
}

menu .controls-group {
	@apply flex-row space-x-1 xs:space-x-4;
}

:dir(rtl) menu .controls-group {
	@apply mr-6;
}

/* Each control */
menu .control {
	@apply flex h-auto flex-col;
}

:dir(rtl) menu .control:nth-child(2) {
	@apply mr-4;
}

:dir(rtl) menu .control > div {
	@apply flex flex-row-reverse;
}

/* Labels */
menu .control > label {
	@apply mb-3 hidden h-4 leading-4 sm:block;
}
