/* Grid item footer */
main > ul > li > :last-child {
  @apply flex flex-row h-8;
}

/* Hex color */
main > ul > li > :last-child > :first-child {
  @apply p-0.5 w-1/2 text-xs
    text-[var(--light-contrast-color)]
    hover:!text-transparent
    copy-button-white before:bg-[size:1.2rem]
    before:top-[2px];
}
main > ul > li > :last-child > :first-child.dark {
  @apply text-[var(--dark-contrast-color)] copy-button-black;
}

@layer components {
  .grid-item-button {
    @apply w-1/4
      fill-custom-button-content-default-color
      hover:bg-custom-button-background-hover-color
      hover:fill-custom-button-content-hover-color;
    border-top: 1px solid var(--divider-color);
  }

  .grid-item-button svg {
    @apply h-4 m-auto;
  }
}

/* View details button */
main > ul > li > :last-child > :nth-child(2) {
  @apply grid-item-button;
}

/* Download button */
main > ul > li > :last-child > :nth-child(3) {
  @apply grid-item-button;
}
