@import './icon_preview.css';
@import './deprecated.css';
@import './details.css';
@import './links.css';
@import './title.css';
@import './footer.css';

/* Grid item */
main > ul > li {
  @apply flex flex-col space-y-2
    rounded-md border-spacing-0 border-collapse
    overflow-hidden
    bg-custom-grid-item-background-color
    shadow-[0_0_3px_0_var(--shadows-color)];
}
