/* Controls menu search input */
menu .control .search {
	@apply flex h-7 flex-row xs:h-9;
}

menu .control .search > input {
	@apply /* Theme colors */ w-56 rounded-[3px] border-[1px] border-solid border-custom-button-background-selected-color bg-custom-background-color py-1.5 pl-3 pr-8 text-custom-text-default-color shadow-[0_0_3px_0_var(--shadows-color)] shadow-custom-shadows-color xs:w-72;
}

menu .control .search > input::-webkit-search-decoration,
menu .control .search > input::-webkit-search-cancel-button,
menu .control .search > input::-webkit-search-results-button,
menu .control .search > input::-webkit-search-results-decoration {
	appearance: none;
}

menu .control .search > input::-ms-clear,
menu .control .search > input::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

/* Custom clear cross shown on input */
menu .control .search > span {
	@apply -ml-[2.4rem] -mt-[4px] cursor-pointer px-3 text-custom-text-default-color opacity-100 [font-size:1.5rem] hover:opacity-70 xs:mt-0;
}
