name: Verify
on:
  push:
    branches:
      - master
  pull_request:

permissions:
  contents: write

jobs:
  run:
    name: ${{ matrix.name }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Lint
            command: lint
            runs-on: ubuntu-latest
          - name: Chrome Desktop${{ github.ref == 'refs/heads/master' && ' and publish' || '' }}
            command: test
            browser: chrome
            project: chrome-desktop
            runs-on: ubuntu-latest
          - name: MsEdge Desktop
            command: test
            browser: msedge
            project: msedge-desktop
            runs-on: ubuntu-latest
          - name: Firefox Desktop
            command: test
            browser: firefox
            project: firefox-desktop
            runs-on: ubuntu-latest
          - name: Safari Desktop
            command: test
            browser: webkit
            project: webkit-desktop
            runs-on: ubuntu-latest
          - name: Chromium Mobile
            command: test
            browser: chromium
            project: chromium-mobile
            runs-on: ubuntu-latest
          - name: Chromium Mobile Landscape
            command: test
            browser: chromium
            project: chromium-mobile-landscape
            runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Rust nightly
        uses: hecrj/setup-rust-action@v2
        if: matrix.command == 'test'
        with:
          rust-version: nightly
          targets: wasm32-unknown-unknown
          profile: minimal
      - name: Setup Rust nightly
        uses: hecrj/setup-rust-action@v2
        if: matrix.command == 'lint'
        with:
          rust-version: nightly
          targets: wasm32-unknown-unknown
          profile: default
      - name: Cache Rust dependencies
        uses: actions/cache@v3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            ~/.cargo/.crates.toml
            ~/.cargo/.crates2.json
            target/
          key: ${{ runner.os }}-cargo-${{ hashFiles('**/Cargo.lock') }}-${{ matrix.command }}-nightly
      - name: Use Node.js v18
        uses: actions/setup-node@v3
        with:
          node-version: 18.x
      - name: Cache Node.js dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ hashFiles('**/package-lock.json') }}-v18
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install tooling dependencies
        run: cargo install cargo-make
      - name: Install Node.js dependencies
        run: |
          npm ci
          npm install -g tsx
      - name: Build
        run: cargo make build
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - name: Install Playwright browsers
        if: matrix.command == 'test'
        run: npx playwright install ${{ matrix.browser }} --with-deps
      - name: Get test arguments
        id: args
        run: |
          echo "arguments=${{ matrix.command == 'test' && '--project=$PROJECT --reporter=github' || '' }}" \
            >> $GITHUB_OUTPUT
        env:
          PROJECT: ${{ matrix.project }}
      - name: List tests
        if: matrix.command == 'test'
        working-directory: end2end
        run: npx playwright test --list ${{ steps.args.outputs.arguments }}
      - name: Run `cargo make ${{ matrix.command }}`
        run: cargo make ${{ matrix.command }} ${{ steps.args.outputs.arguments }}
      - name: Publish website
        if: |
          matrix.command == 'test' &&
          matrix.project == 'chrome-desktop' &&
          github.ref == 'refs/heads/master'
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: gh-pages
          folder: app/dist
          single-commit: true
          clean-exclude: CNAME
          git-config-name: github-actions[bot]
          git-config-email: github-actions[bot]@users.noreply.github.com
